In [1]:
import pandas as pd

In [2]:
factor_data = pd.read_csv('factor_model_fillna.csv')
factor_data.columns

Index(['ts_code', 'trade_date', 'turnover_rate', 'turnover_rate_f',
       'volume_ratio', 'pe', 'pe_ttm', 'pb', 'ps', 'ps_ttm', 'dv_ratio',
       'dv_ttm', 'total_mv', 'circ_mv', 'open', 'high', 'low', 'close',
       'pre_close', 'change', 'pct_chg', 'vol', 'amount', 'ann_date',
       'end_date', 'profit_dedt', 'roe', 'roa'],
      dtype='object')

In [3]:
factor_data.head()

,ts_code,trade_date,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,ps,ps_ttm,...,pre_close,change,pct_chg,vol,amount,ann_date,end_date,profit_dedt,roe,roa
0,000001.SZ,20190102,0.3141,0.7088,0.99,6.8048,6.4428,0.7330,1.4917,1.4012,...,9.2822,-0.1880,-2.0254,539386.32,498695.109,NaN,NaN,NaN,NaN,NaN
1,000001.SZ,20190103,0.2420,0.5460,0.76,6.8714,6.5059,0.7402,1.5063,1.4149,...,9.0942,0.0891,0.9797,415537.95,384457.707,NaN,NaN,NaN,NaN,NaN
2,000001.SZ,20190104,0.8626,1.9463,2.87,7.2194,6.7456,0.7607,1.5825,1.4343,...,9.1833,0.4651,5.0646,1481159.06,1422149.888,NaN,NaN,NaN,NaN,NaN
3,000001.SZ,20190107,0.5042,1.1375,1.19,7.2120,6.7386,0.7599,1.5809,1.4329,...,9.6484,-0.0099,-0.1026,865687.66,841166.430,NaN,NaN,NaN,NaN,NaN
4,000001.SZ,20190108,0.2344,0.5287,0.52,7.1528,6.6833,0.7536,1.5679,1.4211,...,9.6385,-0.0792,-0.8217,402388.11,389247.795,NaN,NaN,NaN,NaN,NaN